extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/new') New
  each message in messages
      .message-container
          p= message.text
          p= message.user
          p #{message.added.toLocaleString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false })}

